.recommended{
    width: 100%;
    background-color: #F5F5FA;
    padding-top: 30px;

    &-heading {
        width: 84%;
        margin: 0px auto;
        @media screen and (min-width: 1024px){
            width: 88.28125%;
            
         }
         @media screen and (min-width: 1920px){
            width: 83.3333333%;
            
         }

         &__link{
            font-size: 14px;
            line-height: 17px;
            font-weight: 700;
            color: #24A3FF;
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 6px;
            @media screen and (min-width: 1920px){
            
                margin-left: 18px;
             }
        }
       

        &__title{
            font-size: 30px;
            line-height: 37px;
            font-weight: 700;
           @extend %liniarGradient;
           margin-top: 5px;
           margin-left: 4px;

           @media screen and (min-width: 768px){
            width: 525px;
            font-size: 38px;
            line-height: 46px;
           }
           @media screen and (min-width: 1920px){
            
            margin-left: 15px;
         }
        }
    }
    &__container{
        @media screen and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 84.125%;
            margin: 0 auto;
           }
           @media screen and (min-width: 1024px){
            width: 88.28125%;
            flex-wrap:nowrap;
         }
         @media screen and (min-width: 1920px){
            width: 83.3333333%;
            
         }

         /* &:last-child{
            @media screen and (min-width: 768px){
            
                width: 100%;
            }  
            @media screen and (min-width: 1024px){
                width: 31.1205752%;
             }
        }*/
    }

    &-item{
        width: 84%;
        margin: 0 auto;
        background: #FFF;
        border-radius: 8px;
        margin-top: 30px;
        &:last-child{
            @media screen and (min-width: 768px){
            
                width: 100%;
            } 
            @media screen and (min-width: 1024px){
                width: 31.1205752%;
             }
        }

        @media screen and (min-width: 768px){
            
            width: 47.6851852%;
        }
        @media screen and (min-width: 1024px){
            width: 31.1205752%;
         }
        
    

       /* & + .recommended-item{
          margin-bottom: 30px;
        }*/
        

        &__img{
            width: 100%;
        }
        &__content{
            padding: 30px;
            

        &_title{
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
             color: #24A3FF;
             text-decoration: none;
             display: block;

             
        }

        &_date{
            display: inline-block;
            font-size: 12px;
            line-height: 15px;
            font-weight: 700;
            color: #B3B3BA;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 15px 0;
           
        }

        &_text{
            font-size: 14px;
            line-height: 22px;
            

            &:before{
                content: '';
                display: block;
                border: 2px solid #E6E6F0;
                margin-bottom: 15px;
            }
        }
      }
    }
    &::after{
        content: '';
        display: block;
        border: 2px solid #E6E6F0;
        margin: 30px auto 0;
        width: 84%;
        @media screen and (min-width: 1024px){
            width: 86%; 
           
            
        }
    }
}
